[Desktop Entry]
Type=Application
Version=1.0
Name=Video Chromecast Player
GenericName=Video Player
GenericName[de]=Videoplayer
Comment=Video player with Chromecast support and hardware acceleration
Comment[de]=Videoplayer mit Chromecast-Unterstützung und Hardware-Beschleunigung
TryExec=/run/media/dahool/Platte2/Videoplayer/gnome-chromecast-player/videoplayer.py
Exec=/run/media/dahool/Platte2/Videoplayer/gnome-chromecast-player/videoplayer.py %U
Icon=com.videocast.player
Terminal=false
Categories=AudioVideo;Video;Player;
MimeType=video/mp4;video/x-matroska;video/webm;video/avi;video/x-msvideo;video/x-ms-wmv;
StartupNotify=true
StartupWMClass=com.videocast.player
DBusActivatable=true
